/* My selected colour palette  */
:root {
  --primary: #BCABAE;
  --background: #0F0F0F;
  --card: #2D2E2E;
  --secondary-text: #716969;
  --text: #FBFBFB;   
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--card);
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

header .logo img {
    width: 110px;
    height: 80px;
}

header h1 {
    font-size: 1.6rem;
    color: var(--primary);
}

header nav a {
    color: var(--text);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: all 0.3s;
}

header nav a:hover {
    color: var(--primary);
}

.intro {
    text-align: center;
    margin: 30px 0;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary);
}

.intro p {
    color: var(--secondary-text);
}

.dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.counter {
    background-color: var(--card);
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease
}

.counter:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
}

.counter h3 {
    color: var(--primary);
    margin-bottom: 10px;
}

.counter p {
    font-size: 1.8rem;
    font-weight: bold;
}


form {
    max-width: 600px;
    margin: 0 auto 50px auto;
    background-color: var(--card);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 12px var(--shadow);
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--primary);
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    color: var(--text);
}

form textarea {
    resize: vertical;
    min-height: 80px;
}

form button {
    margin-top: 15px;
    width: 100%;
    background-color: var(--primary);
    border: none;
    color: var(--background);
    font-size: 1rem;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #a88f93;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--card);
    color: var(--secondary-text);
    font-size: 0.9rem;
    margin-top: 50px;

}

